<nav class="shadow-lg p-4">
    <div class="flex justify-between items-center">
        <h1 class="text-2xl font-bold">Logo</h1>
        <ul class="flex gap-4">
                <li class="text-sm text-gray-500" routerLink="data-binding">Data-Binding</li>
                <li class="text-sm text-gray-500" routerLink="add-emp">Add-Emp</li>
                <li class="text-sm text-gray-500" routerLink="emp-list">Emp-List</li>
                <li class="text-sm text-gray-500" routerLink="structural-dir">Structural-dir</li>
                <li class="text-sm text-gray-500" routerLink="attribute-dir">Attribute-dir</li>
                <li class="text-sm text-gray-500" routerLink="if-else">if-else</li>
                <li class="text-sm text-gray-500" routerLink="for">for</li>
                <li class="text-sm text-gray-500" routerLink="switch">switch</li>
                <li class="text-sm text-gray-500" routerLink="pipe">pipe</li>
                <li class="text-sm text-gray-500" routerLink="template-form">templateform</li>
                <li class="text-sm text-gray-500" routerLink="reactive-form">reactiveform</li>
                <li class="text-sm text-gray-500" routerLink="get-api">GetApi</li>
        </ul>
    </div>
</nav>

<div>
    <router-outlet></router-outlet>
</div>